<%-include ('components/header.ejs') %>

<div class="contenedor">
    <%-include ('components/form.ejs') %>
</div>

<div class="contenedor">
    <%-include ('components/table.ejs') %>
</div>


<%-include ('components/footer.ejs') %>